In [ ]:
# basic if statement
# if Statement

# The if statement allows conditional execution of code. If the condition evaluates to True, the block inside if runs.

In [ ]:
# if condition:
    # Code to execute if condition is True

In [1]:
x = 10
if x > 5:
  print("x is greater than 5")

x is greater than 5

In [6]:
age = 18
if age >= 18:
    print("You are eligible to vote.")

You are eligible to vote.

In [5]:
score = 90
if score >= 85:
    print("Excellent performance!")

Excellent performance!

In [4]:
num = -5
if num < 0:
    print("Negative number detected.")

Negative number detected.

In [3]:
city = "New York"
if city == "New York":
    print("Welcome to NYC!")

Welcome to NYC!

In [2]:

speed = 80
if speed > 60:
    print("You are overspeeding!")

You are overspeeding!

In [1]:
weather = "Rainy"
if weather == "Rainy":
    print("Take an umbrella!")

Take an umbrella!

In [7]:
marks = 75
if marks >= 40:
    print("You passed the exam!")

You passed the exam!

In [8]:
message = "hello"
if "h" in message:
    print("Message contains 'h'")

Message contains 'h'

In [9]:

balance = 5000
if balance >= 1000:
    print("You have sufficient funds.")

You have sufficient funds.

In [ ]:
# if-else Statement

# The if-else statement provides an alternative execution when the condition is False.

In [ ]:
# if condition:
#     # Code executes if condition is True
# else:
#     # Code executes if condition is False

In [10]:
x = 4
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

In [11]:

marks = 45
if marks >= 50:
    print("Pass")
else:
    print("Fail")

Fail

In [12]:
balance = 1000
withdrawal = 1500
if withdrawal <= balance:
    print("Transaction successful")
else:
    print("Insufficient funds")

Insufficient funds

In [13]:
age = 16
if age >= 18:
    print("Eligible for driving license")
else:
    print("Not eligible for driving license")

Not eligible for driving license

In [14]:
num = -3
if num >= 0:
    print("Positive number")
else:
    print("Negative number")

Negative number

In [15]:
password = "admin123"
if password == "admin":
    print("Access Granted")
else:
    print("Access Denied")

Access Denied

In [16]:
traffic_light = "red"
if traffic_light == "green":
    print("You can go!")
else:
    print("Stop!")

Stop!

In [17]:

number = 20
if number % 2 == 0:
    print("Even Number")
else:
    print("Odd Number")

Even Number

In [18]:
text = "Python"
if "P" in text:
    print("Contains P")
else:
    print("Does not contain P")

Contains P

In [2]:
x = 10
if x > 5:  # True
  print("x is greater than 5")
else:
  print('x is not greater than 5')

x is greater than 5

In [ ]:
x = 4
if x > 5:  # False
  print("x is greater than 5")
else:      # True
  print('x is not greater than 5')

In [ ]:

#  if-elif-else Statement

# The if-elif-else statement allows multiple conditions to be checked sequentially.

In [3]:
x = 7
if x > 10:  # False
  print("x is greater than 10")

elif x > 5: # True
  print("x is greater than 5 but less than or equal to 10")

else:     # will not execute
  print('x is less than or equal to 5')

x is greater than 5 but less than or equal to 10

In [20]:
score = 85
if score >= 90:
    print("Grade: A")
elif score >= 75:
    print("Grade: B")
elif score >= 50:
    print("Grade: C")
else:
    print("Grade: F")

Grade: B

In [21]:

score = 85
if score >= 90:
    print("Grade: A")
elif score >= 75:
    print("Grade: B")
elif score >= 50:
    print("Grade: C")
else:
    print("Grade: F")

Grade: B

In [ ]:

# Nested if-else Statements

# An if-else statement inside another if-else is called nested if-else.

In [7]:
x  = 12

if x > 10:   # True (12 > 10)
  if x % 2 == 0:   # 12 % 2 = 0 # True
    print('x is greater than 10 and it\'s even no')
  else:
    print('x is greater than 10 and it\s odd no')
else:
  print('x is less than or equal to 10')

x is greater than 10 and it's even no

In [9]:
x  = 13

if x > 10:   # True (13 > 10)
  if x % 2 == 0:   # 13 % 2 = 1 # False
    print('x is greater than 10 and it\'s even no')
  else:
    print('x is greater than 10 and it\'s odd no')
else:
  print('x is less than or equal to 10')

x is greater than 10 and it's odd no

In [6]:
x  = 9

if x > 10:   # False  (9 > 10)
  if x % 2 == 0:   # 12 % 2 = 0 # True
    print('x is greater than 10 and it\'s even no')
  else:
    print('x is greater than 10 and it\s no')
else:
  print('x is less than or equal to 10')

x is less than or equal to 10

In [22]:
age = 20
gender = "Male"
if age >= 18:
    if gender == "Male":
        print("Eligible for military service.")
    else:
        print("Not required for military service.")
else:
    print("Not eligible for military service.")

Eligible for military service.

In [12]:
lst = [1,2,3,4,5]
def square_num(lst):
  even_list = []
  odd_list = []
  for num in lst:
    if num % 2 == 0:
      even_list.append(num)
    else:
      odd_list.append(num)

    return even_list, odd_list  # break the loop


square_num(lst)

([], [1])

In [13]:
lst = [1,2,3,4,5]
def square_num(lst):
  even_list = []
  odd_list = []
  for num in lst:
    if num % 2 == 0:
      even_list.append(num)
    else:
      odd_list.append(num)

  return even_list, odd_list  # break the loop


square_num(lst)

([2, 4], [1, 3, 5])

In [14]:
# ternary operator(short hand if and else statement)
# The ternary operator is a one-line if-else statement.

x = 8

'x is greater than 5'  if x > 5  else "x is less than  or equal to 5"

'x is greater than 5'

In [23]:
num = 15
result = "Even" if num % 2 == 0 else "Odd"
print(result)

Odd

In [16]:
x = 4

result = 'x is greater than 5'  if x > 5  else "x is less than  or equal to 5"
print(result)

x is less than  or equal to 5

In [ ]:
# basic for lopp  # the for loop is used to iterate over a sequence (like a list, tuple, string)

In [17]:
name_list = ['Rohit','Shubham','Virat']

for name in name_list:
  print(name)

Rohit
Shubham
Virat

In [18]:
name_list = ['Rohit','Shubham','Virat']

for i,name in enumerate(name_list):
  print(i,name)

0 Rohit
1 Shubham
2 Virat

In [19]:
name_list = ['Rohit','Shubham','Virat']
cnt  = 0
for name in (name_list):
  print(cnt,name)
  cnt +=1

0 Rohit
1 Shubham
2 Virat

In [24]:
for letter in "Python":
    print(letter)

P
y
t
h
o
n

In [25]:
squares = []
for i in range(1, 11):
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
name_list = ['Rohit','Shubham','Virat']

# name_list[::-1]

for name in name_list[::-1]:
  print(name)

Virat
Shubham
Rohit

In [36]:
# without using slicing and indexing reverse list
# homework

empyt_string = ''
empyt_list = []

name_list = ['Rohit','Shubham','Virat']

for word in name_list:
  print(word)

Rohit
Shubham
Virat

In [ ]:
# without using slicing and indexing reverse string
# homework
empyt_string = ''
name_list = "Rohit Shubham Virat"

In [21]:
# range()
range(11)

range(0, 11)

In [24]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [23]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
for i in list(range(11)):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [26]:
for i in range(2, 10, 2):
    print(i)  # Prints even numbers between 2 and 10

2
4
6
8

In [27]:

for i in range(10, 0, -1):
    print(i)  # Countdown from 10 to 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# nested for loop

In [26]:
for i in range(3):  # 0,1,2
  for j in range(2): # 0,1
    print(f" i = {i}, j = {j}")  # i = 0, 0,   # 0 1  # 1,0 # 1,1  # 2,0 2,1

 i = 0, j = 0
 i = 0, j = 1
 i = 1, j = 0
 i = 1, j = 1
 i = 2, j = 0
 i = 2, j = 1

In [27]:
for i in range(3):  # 0,1,2
  for j in range(2): # 0,1
    print(f" i = {i}, j = {j} and  multiplication of {i} and {j} is {i*j}")

 i = 0, j = 0 and  multiplication of 0 and 0 is 0
 i = 0, j = 1 and  multiplication of 0 and 1 is 0
 i = 1, j = 0 and  multiplication of 1 and 0 is 0
 i = 1, j = 1 and  multiplication of 1 and 1 is 1
 i = 2, j = 0 and  multiplication of 2 and 0 is 0
 i = 2, j = 1 and  multiplication of 2 and 1 is 2

In [28]:
for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i} * {j} = {i * j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [29]:
for i in range(1, 11):
    for j in range(1,11):
        print(f"{i} * {j} = {i * j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
# break statement
# The break statement stops the loop when a condition is met.

In [28]:
for i in range(10): # 0,1,2,3,4,5,6,7,8,9
  if i == 5:  # 0 ==5, ...........# 5 == 5
    break    # break the loop and will not executes it further and stop the iteration exist the loop
  print(i)

0
1
2
3
4

In [ ]:
# continue statement
# The continue statement skips the current iteration and moves to the next one.

In [30]:
for i in range(10):
    if i == 4:
        continue  # Skips when i == 4
    print(i)

0
1
2
3
5
6
7
8
9

In [29]:
for i in range(10): # 0,1,2,3,4,5,6,7,8,9
  if i == 5:  # 0 ==5, ...........# 5 == 5
    continue   # skip the current itetration and continue for rest of the values of iteration
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
# for loop with if and else statement

In [32]:
for i in range(1,11):  # 0,1,2
  if i % 2 == 0:
    print("number is even no")
  else:
    print("number is odd no")

number is odd no
number is even no
number is odd no
number is even no
number is odd no
number is even no
number is odd no
number is even no
number is odd no
number is even no

In [30]:
for i in range(3):  # 0,1,2
  print(i)
else:
  print("loop is finised")

0
1
2
loop is finised

In [ ]:
# list compression with for loop

In [ ]:
# list[expression for loop if condition]

In [33]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
[x**2 for x in range(1,11) if x % 2 == 0]

[4, 16, 36, 64, 100]

In [37]:
[x**2 for x in range(1,11) if x % 2 == 1]

[1, 9, 25, 49, 81]