In [ ]:
"""
# Types of Arguments
1.Positional argument
2.Default arguments
3.Arbitory arguments(variable length args) var args
4.keywords arguments

In [ ]:
# 1.Postional arguments
Number of paramters == no of arguments

argumennts that we passsd the functions should be correct positional order

In [ ]:
def add(num1,num2):  # defining functions
  print(f"Num1 == {num1}, num2 == {num2}")

In [ ]:
add(10,20)   # num1 = 10, num2 = 20

Num1 == 10, num2 == 20

In [ ]:
add(20,10)  # num1 =20, num2 =10

Num1 == 20, num2 == 10

In [ ]:
# 2,Default arguments

In [ ]:
def multiplication(n1,n2):
  mul = n1 * n2
  print(mul)

In [ ]:
multiplication(5,6)

30

In [ ]:
def multiplication(n1,n2):
  mul = n1 * n2
  print(mul)
  return mul

In [ ]:
multiplication(5,6)

30

30

In [ ]:
def multiplication(n1,n2):
  mul = n1 * n2
  return mul

In [ ]:
multiplication(5,10)

50

In [ ]:
def multiplication(n1,n2):
  mul = n1 * n2
  return mul                  # break the loop
  print(mul)                  # will not execute block of code after return

In [ ]:
multiplication(5,6)

30

In [ ]:
def multiplication(n1,n2,n3=10):  # defaultarguments as n3 =10
  mul = n1 * n2 * n3
  return mul                  # break the loop

In [ ]:
multiplication(2,2)       # n1 = 2, n2 = 3, n3 =10(default values)

40

In [ ]:
multiplication(2,2,5)     # n1 = 2, n2 = 2, n3 = 5(overwriting the default values)

20

In [ ]:
def multiplication(n1=2,n2=5,n3=10):  # defaultarguments as n1 = 1, n2 = 5, n3 = 10
  mul = n1 * n2 * n3
  return mul                  # break the loop

In [ ]:
multiplication()

100

In [ ]:
multiplication(1,2,3)  # overwriting the value of default argument as n1 = 1 n2 = 2 and n3 = 3

6

In [ ]:
# Arbirtory arguments > variable length arguments
# >> *args(retuen value in tuple)
# when we dont know number sif argument to be passed
# if we are using *args and positional args then positional argument must follow the kewword arguments

In [ ]:
def multiplication(n1,n2,n3,n4,n5,n6):
  mul = n1 * n2 * n3 * n4 * n5 * n6
  return mul                  # break the loop

In [ ]:
multiplication(1,2,3,4,5,6)

720

In [ ]:
def multiplication(*args):     # tuple
  mul = 1
  for num in args:
    mul = mul * num
  return mul

In [ ]:
multiplication(1,2)

2

In [ ]:
multiplication(1,2,3)

6

In [ ]:
multiplication(1,2,3,4)

24

In [ ]:
def multiplication(*args,n1):     # tuple
  mul = 1
  print("n1 : ",n1)
  for num in args:
    mul = mul * num
  return mul

In [ ]:
multiplication(1,2,3)

n1 :  1

6

In [ ]:
multiplication(1,2,n1=2)

n1 :  2

2

In [ ]:
def multiplication(*args,n1=1):     # tuple
  mul = 1
  print("n1 : ",n1)
  for num in args:
    mul = mul * num
  return mul

In [ ]:
multiplication(1,2,3)

n1 :  1

6

In [ ]:
multiplication(1,2,3,n1=2)

n1 :  2

6

In [ ]:
def multiplication(*val):     # tuple
  mul = 1
  for num in val:
    mul = mul * num
  return mul

In [ ]:
multiplication(1,2,3)

6

In [ ]:
def addition(n1,n2,*args,val1=100,val2='python'):
  print(f'n1={n1}, n2={n2},args=={args},val1=={val1},val2={val2}')

In [ ]:
addition(10,20,34,40,35,25)

n1=10, n2=20,args==(34, 40, 35, 25),val1==100,val2=python

In [ ]:
addition(10,20,34,40,35,25,val1=200)

n1=10, n2=20,args==(34, 40, 35, 25),val1==200,val2=python

In [ ]:
addition(10,20,34,40,35,25,val2="Machine-Learning")

n1=10, n2=20,args==(34, 40, 35, 25),val1==100,val2=Machine-Learning

In [ ]:
addition(10,20,34,40,35,25,val1 = 200,val2="Machine-Learning")

n1=10, n2=20,args==(34, 40, 35, 25),val1==200,val2=Machine-Learning

In [ ]:
def summation(**kwargs):
  sum = 0
  for value in kwargs.values():
    sum = sum + value
  return sum

In [ ]:
summation(a=10,b=20,c=30) # dictionary

60

In [ ]:
# Recursion in python

In [ ]:
# recursion is process where function call itself to solve a problem,
1.direct recursion: a function call itself
2.indirect recursion: a function call another functions which in turn calls the first functions(higher order functions)

In [ ]:
 # Factorial

In [ ]:
n = 5

In [ ]:
5*4*3*2*1   # n(5) * n-1(4)* n-2(3)*n-3(2)*n-4(1)
1*2*3*4*5   # 1*2*3*4*5

In [ ]:
fact = 1
for i in range(1,n+1):  # n = 5, (1,2,3,4,5)
  fact = fact*i         # 1*1=1, 1*2=2,2*3=6,6*4=20,20*5=120

fact

120

In [ ]:
def factorial(n):
  fact = 1
  for i in range(1,n+1):
    fact *= i
  return fact

In [ ]:
factorial(5)

120

In [ ]:
factorial(4)

24

In [ ]:
factorial(10)

3628800

In [ ]:
# n*n-1

In [ ]:
 n<= 1 >  1

In [ ]:
def factorial(n):   # 5
  if n <= 1:   # false
    return 1
  else:
    return n*factorial(n-1)    # 5 *4*3*2*1

In [ ]:
factorial(5)

120

In [ ]:
factorial(4)

24

In [ ]:
factorial(10)

3628800

In [ ]:
# fibbonacci series

n = 6,
a,b = 0,1

# a + b = 0+1 = 1, 1+1=2,2+2=4 4+3=7

In [ ]:
n= 6
a = 0
b = 1
for i in range(n):
  a,b = b,a+b

print(a)

8

In [ ]:
def fib(n):
  if n <= 1:
    return n
  else:
    return(fib(n-1)+fib(n-2))

In [ ]:
fib(6)

8

In [ ]:
# 1,2 3,4,5
0 1 1 2 3 5 8

In [ ]:
# nested functions

In [ ]:
def a():
  def b():
    pass

In [ ]:
# higher order functions

In [ ]:
fact(n,fib(n))

In [ ]:
def new():
  a = 10
  return a

In [ ]:
new()

10

In [ ]:
def test(n,b):
  return n+b

In [ ]:
test(5,new())  # n= 5, b =10

15