In [ ]:
# index()
# list.index(value, start=None,end=None)
#The index() method is used to find the first occurrence of a specified value in a list, tuple, or string. If the value is not found, it raises a ValueError.
# Syntax: sequence.index(value, start, end)

In [1]:
l = [1,2,3,4,5,6,1,7,19,20,30]

In [2]:
l.index(20)

9

In [4]:
l.index(1,1,10)

6

In [5]:
name = ['Chetan','Rahul','Sagar','Nihal']
name.index('Chetan')

0

In [6]:
name = ['Chetan','Rahul','Sagar','Nihal']
if 'Chetan' in name:
  i = name.index('Chetan')
print(i)

0

In [7]:
name = ['Chetan','Rahul','Sagar','Nihal']
if 'Chetan' in name:
  i = name.index('Nihal')
print(i)

3

In [ ]:
# count()
# The count() method is used to count the number of occurrences of a specified value in a list, tuple, or string.
# Syntax: sequence.count(value)

In [8]:
subject = ['Phy','Che','Maths','Bio','Phy','Eng']
subject.count('Phy')

2

In [9]:
subject = ['Phy','Che','Maths','Bio','Phy','Eng']
subject.count('Che')

1

In [3]:
name = ['Chetan','Rahul','Sagar','Nihal']
name

['Chetan', 'Rahul', 'Sagar', 'Nihal']

In [13]:
len(name)-1

3

In [15]:
# reverse without using inbuilt functions

new_name = []
cnt = len(name)-1   # 4-1 # 3
for i in range(len(name)):
  # print(i,name[i])
  if cnt >= 0:     # 3
    new_name.append(name[cnt])
  cnt = cnt -1     # 3-1 = 2, 2-1 = 1, 1-1 = 0
print(new_name)

['Nihal', 'Sagar', 'Rahul', 'Chetan']

In [16]:
#
name

['Chetan', 'Rahul', 'Sagar', 'Nihal']

In [4]:
new_list = []
a = -1
for i in range(len(name)):  # 0,1,2,3
  new_list.append(name[a])
  a = a -1    # a -= 1
print(new_list)

['Nihal', 'Sagar', 'Rahul', 'Chetan']

In [6]:
sentence = 'Python is amazing'
words = sentence.split()
words

['Python', 'is', 'amazing']

In [8]:
' '.join(words)

'Python is amazing'

In [9]:
'@'.join(words)

'Python@is@amazing'

In [10]:
'-'.join(words)

'Python-is-amazing'

In [12]:
'_'.join(words)

'Python_is_amazing'

In [ ]:
# enumerates
# The enumerate() function adds an index (counter) to an iterable (list, tuple, string, etc.) and returns it as an enumerate object. It is commonly used in loops to get both index and value.
# Syntax:enumerate(iterable, start=0)

In [13]:
words

['Python', 'is', 'amazing']

In [14]:
for index, value in enumerate(words):
  print(f"Index: {index}, and value is: {value}")

Index: 0, and value is: Python
Index: 1, and value is: is
Index: 2, and value is: amazing

In [15]:
for i, v in enumerate(words):
  print(f"Index: {i}, and value is: {v}")

Index: 0, and value is: Python
Index: 1, and value is: is
Index: 2, and value is: amazing

In [16]:
for m, n in enumerate(words):
  print(f"Index: {m}, and value is: {n}")

Index: 0, and value is: Python
Index: 1, and value is: is
Index: 2, and value is: amazing

In [17]:
word_pairs = [("apple","banana"),("cat","dog"),("red","blue")]
for index, pair in enumerate(word_pairs,start= 1):
  print(f"{index}: {pair}")

1: ('apple', 'banana')
2: ('cat', 'dog')
3: ('red', 'blue')

In [18]:
word_pairs = [("apple","banana"),("cat","dog"),("red","blue")]
for index, pair in enumerate(word_pairs):
  print(f"{index}: {pair}")

0: ('apple', 'banana')
1: ('cat', 'dog')
2: ('red', 'blue')

In [19]:
from itertools import combinations

words = ['apple','banana','cat','dog']
pairs = list(combinations(words,2))

for index, pair in enumerate(pairs):
  print(f"{index}: {pair}")

0: ('apple', 'banana')
1: ('apple', 'cat')
2: ('apple', 'dog')
3: ('banana', 'cat')
4: ('banana', 'dog')
5: ('cat', 'dog')

In [20]:
from itertools import combinations

words = ['apple','banana','cat','dog']
pairs = list(combinations(words,1))

for index, pair in enumerate(pairs):
  print(f"{index}: {pair}")

0: ('apple',)
1: ('banana',)
2: ('cat',)
3: ('dog',)

In [ ]:
# access items of list using loop

In [21]:
city_name = ['Pune','Nagpur','Mumbai','Nashik']
for city in city_name:
  print(city)

Pune
Nagpur
Mumbai
Nashik

In [25]:
city_name = ['Pune','Nagpur','Mumbai','Nashik']
for city in city_name:
  print(city)
  if city == "Mumbai":
    print("HIII")
    # pass

Pune
Nagpur
Mumbai
HIII
Nashik

In [26]:
count = 0
for city in city_name:
  print(f"Item in index {count} is {city}")

Item in index 0 is Pune
Item in index 0 is Nagpur
Item in index 0 is Mumbai
Item in index 0 is Nashik

In [27]:
count = 0
for city in city_name:
  print(f"Item in index {count} is {city}")
  count += 1

Item in index 0 is Pune
Item in index 1 is Nagpur
Item in index 2 is Mumbai
Item in index 3 is Nashik

In [28]:
for index, city in enumerate(city_name):
  print(f"Item in Index {index} is city")

Item in Index 0 is city
Item in Index 1 is city
Item in Index 2 is city
Item in Index 3 is city

In [29]:
for index, city in enumerate(city_name):
  print(f"Item in Index {index} is {city}")

Item in Index 0 is Pune
Item in Index 1 is Nagpur
Item in Index 2 is Mumbai
Item in Index 3 is Nashik

In [30]:
# range() generates sequewnce of numbers
# The range() function generates a sequence of numbers and is commonly used in loops.
# Syntax:range(start, stop, step)
range(5)

range(0, 5)

In [31]:
list(range(5))

[0, 1, 2, 3, 4]

In [32]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [33]:
list(range(1,5))

[1, 2, 3, 4]

In [35]:
list(range(2,5))

[2, 3, 4]

In [37]:
list(range(5,20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [38]:
for i in range(5):
  print(i)

0
1
2
3
4

In [39]:
for i in range(1,5):
  print(i)

1
2
3
4

In [40]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [41]:
for i in range(2,21):
  print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [42]:
for i in range(5):
  print(i**2)

0
1
4
9
16

In [43]:
for i in range(1,11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [44]:
for i in range(1,11):
  if i% 2 == 0:
    print("Even no are",i)

Even no are 2
Even no are 4
Even no are 6
Even no are 8
Even no are 10

In [46]:
for i in range(1,11):
  if i% 2 == 1:
    print("Odd no are",i)

Odd no are 1
Odd no are 3
Odd no are 5
Odd no are 7
Odd no are 9

In [47]:
for i in range(1,11):
  if i% 2 == 1:
    print("Odd no are",i)
  else:
    print("Sqaure of ven no",i**2)

Odd no are 1
Sqaure of ven no 4
Odd no are 3
Sqaure of ven no 16
Odd no are 5
Sqaure of ven no 36
Odd no are 7
Sqaure of ven no 64
Odd no are 9
Sqaure of ven no 100

In [50]:
for i in range(1,11):
  if i% 2 == 0:
    print(f"Even no is {i}:",i)
  else:
    print(f"Sqaure of odd no is:{i}:",i**2)

Sqaure of odd no is:1: 1
Even no is 2: 2
Sqaure of odd no is:3: 9
Even no is 4: 4
Sqaure of odd no is:5: 25
Even no is 6: 6
Sqaure of odd no is:7: 49
Even no is 8: 8
Sqaure of odd no is:9: 81
Even no is 10: 10

In [51]:
city_name = ['Pune','Nagpur','Mumbai','Nashik']
for i in range(len(city_name)):
  print(f"Item in index {i} is {city_name[i]} ")

Item in index 0 is Pune
Item in index 1 is Nagpur
Item in index 2 is Mumbai
Item in index 3 is Nashik

In [53]:
# copy function

list1 = [2,3,4,5,6]
list2 = list1

print(list1)
print(list2)

[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]

In [54]:
list2.append(100)

print(list1)
print(list2)

[2, 3, 4, 5, 6, 100]
[2, 3, 4, 5, 6, 100]

In [55]:
list1 = [2,3,4,5,6]
list2 = list1.copy()   # shallow copy
print(list1)
print(list2)

[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]

In [56]:
list2 .append(100)

print(list1)
print(list2)

[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6, 100]

In [57]:
# deep copy
# The deepcopy() function creates a new object and recursively copies all objects inside it, so changes to the copy won't affect the original.
# Syntax:import copy
# copy.deepcopy(object)

import copy

In [58]:
list1 = [[2,3],[3,4],[4,5],[5,6]]
list2 = copy.deepcopy(list1)   # deep copy
print(list1)
print(list2)

[[2, 3], [3, 4], [4, 5], [5, 6]]
[[2, 3], [3, 4], [4, 5], [5, 6]]

In [59]:
list1[1][1]

4

In [60]:
list1[1][1] = 'Python'

In [61]:
print(list1)
print(list2)

[[2, 3], [3, 'Python'], [4, 5], [5, 6]]
[[2, 3], [3, 4], [4, 5], [5, 6]]

In [62]:
list3 = list1.copy()
print(list3)

[[2, 3], [3, 'Python'], [4, 5], [5, 6]]

In [64]:
list1[1][1]

'Python'

In [65]:
list1[1][1] = 4

In [66]:
print(list1)
print(list3)

[[2, 3], [3, 4], [4, 5], [5, 6]]
[[2, 3], [3, 4], [4, 5], [5, 6]]

In [ ]:
# list compression
# List comprehension provides a shorter syntax for creating new lists based on existing iterables (like lists, tuples, or ranges). It's more concise and efficient than using a traditional for loop.
# Syntax:[expression for item in iterable if condition]

In [67]:
nums = [1,2,3,4,5,6,7,8,9]
for num in nums:
  print(num**2)

1
4
9
16
25
36
49
64
81

In [68]:
[num**2 for num in nums]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
square_list = [num**2 for num in nums]
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [69]:
[num**2 for num in nums if num%2==0]

[4, 16, 36, 64]

In [70]:
[num**2 for num in nums if num%2==1]

[1, 9, 25, 49, 81]

In [72]:
[num**3 for num in nums if num%2==1]

[1, 27, 125, 343, 729]

In [74]:
# filter even no using range()
# [expression for i iterables if condintoin]
[ i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]