In [1]:
# string casting
string = input()
string

Python

'Python'

In [2]:
type(string)

str

In [3]:
num = input()
num

1

'1'

In [4]:
type(num)

str

In [7]:
num = int(input())
num

1

1

In [8]:
type(num)

int

In [10]:
# str to int casting

str1 = "1234"
a = int(str1)
type(a)

int

In [11]:
str1 = "1234.50"   # cannot directly convert float value from string into int
a = int(str1)
type(a)

ValueError: invalid literal for int() with base 10: '1234.50'

In [12]:
str1 = "1234.50"   # convert float value from string into float
a = float(str1)
type(a)

float

In [13]:
b = int(a)
type(b)

int

In [14]:
c = 90
d = str(c)
type(d)

str

In [15]:
e = 100.6
f = str(e)
type(f)

str

In [ ]:
# string formating

In [16]:
# f-string
a = 3
str1 = "Python class"
str1 = f"Python class: {a}"
print(str1)

Python class: 3

In [17]:
a = 3
s = "string_formating class"
str1 = "Python class"
str1 = f"Python class: {a} and {s} "
print(str1)

Python class: 3 and string_formating class

In [18]:
# .format() method

name = "Gukesh"
str1 = "{}".format(name)
print(str1)

Gukesh

In [19]:
name = "Gukesh"
str1 = "Hello, {}".format(name)
print(str1)

Hello, Gukesh

In [20]:
name = "Gukesh"
age = 18
str1 = "Hello, {} and your age is {}".format(name,age)
print(str1)

Hello, Gukesh and your age is 18

In [21]:
name = "Gukesh"
age = 18
str1 = "Hello, {} and your age is {}".format(age,name)
print(str1)

Hello, 18 and your age is Gukesh

In [22]:
name = "Gukesh"
age = 18
str1 = "Hello, {} and your age is".format(age,name)
print(str1)

Hello, 18 and your age is

In [23]:
name = "Gukesh"
age = 18
grade = "A+"
str1 = "Hello, {} and your age is {} and your grade is {}".format(name, age,grade)
print(str1)

Hello, Gukesh and your age is 18 and your grade is A+

In [24]:
name = "Gukesh"
age = 18
grade = "A+"
str1 = "Hello, {} and your age is {} and your grade is {}, and {}".format(name, age,grade)
print(str1)

IndexError: Replacement index 3 out of range for positional args tuple

In [25]:
# % operator
name = "Nihal"
age = 20

print("My name is %s and Iam %d years old"%(name,age))

My name is Nihal and Iam 20 years old

In [26]:
name = "Nihal"
age = 20

print("My name is %s and Iam %d years old"%(age,name))

TypeError: %d format: a real number is required, not str

In [ ]:
# Escape Character
# backslah (\) >> escape char

In [27]:
string = 'Python's class'
print(string)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-27-37cc9cb176da>, line 1)

In [28]:
string = 'Python\'s class'
print(string)

Python's class

In [29]:
string = "Python"s class"
print(string)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-29-d8125c18c19f>, line 1)

In [30]:
string = "Python\"s class"
print(string)

Python"s class

In [31]:
string = "Python's class"
print(string)

Python's class

In [32]:
string = 'Python"s class'
print(string)

Python"s class

In [33]:
# \n    --- new line
print("Line1\nLine2")

Line1
Line2

In [34]:
# tab \t
print("Name:\tPragg")

Name:	Pragg

In [35]:
# backspace
print("Hello\bWorld")

HelloWorld

In [36]:
print("Hello \bWorld")

Hello World

In [37]:
# carriage return \r
print("Hello\rWorld")

World