In [ ]:
# File Handling

In [ ]:
# Text
# Access Modes
"""
1.Write >> 'w'
2.Read >> 'r'
3.Append >> 'a'

In [ ]:
# Opening a file

f = open(file_name, mode)

Default mode >> read

open(file) >>>> read


open(file,'r')  >> read


open funtion will return a file object

In [ ]:
# Close file
file.close()     # f.close()

In [ ]:
# Write

write >> 'w'

create a file if not exit
overwrite file if file already exists

In [7]:
file_path = open('test.txt','w')
file_path.write("Hello")
file_path.close()

In [3]:
file_path = open("myfile.txt",'w')
file_path.write("we are learning python and data science")
file_path.close()

In [6]:
myfile = open('myfile.txt')
myfile.read()
myfile.close()

In [5]:
myfile = open('myfile.txt')
text = myfile.read()
print(text)
myfile.close()

we are learning python and data science

In [10]:
# myfile = open(r"C:\Users\Admin\Downloads\myfile.txt")
# text = myfile.read()
# print(text)
# myfile.close()

In [ ]:
# Append

append >> 'a'

create a file if not exists and add the content into it
add text if already exist

In [11]:
new_bank_data = """
Mumbai Customer Care No: -9876543212
Mumbai Schemw: Current Account- Normal
202501 Currenly: INR"""

In [12]:
new_bank_data

'\nMumbai Customer Care No: -9876543212\nMumbai Schemw: Current Account- Normal\n202501 Currenly: INR'

In [13]:
# Append
f = open('bank.txt','a')
f.write(new_bank_data)
f.close()

In [14]:
# Write
f = open('test_file','w')
f.write('Machine Learning')
f.close()

In [15]:
# Read
f = open('test_file','r')
text = f.read()
print(text)
f.close()

Machine Learning

In [18]:
f = open('test_file','a')
f.write("\n Data Science")
f.close()

In [19]:
# Read
f = open('test_file','r')
text = f.read()
print(text)
f.close()

Machine LearningData Science
 Data Science

In [ ]:
# Readline()

readline >> gives output line by line, it reads only one line

In [21]:
print(new_bank_data)

Mumbai Customer Care No: -9876543212
Mumbai Schemw: Current Account- Normal
202501 Currenly: INR

In [24]:
file = open("bank.txt",'r')
text = file.read()
print(text)
file.close()

Mumbai Customer Care No: -9876543212
Mumbai Schemw: Current Account- Normal
202501 Currenly: INR

In [26]:
file = open("bank.txt",'r')
text1 = file.readline()
print(text1)
text2 = file.readline()
print(text2)
text3 = file.readline()
print(text3)
text4 = file.readline()
print(text4)
file.close()

Mumbai Customer Care No: -9876543212

Mumbai Schemw: Current Account- Normal

202501 Currenly: INR

In [ ]:
# Readlines()
it will return list of all lines

In [28]:
f = open('bank.txt')
text = f.readlines()
print(text)
f.close()

['\n', 'Mumbai Customer Care No: -9876543212\n', 'Mumbai Schemw: Current Account- Normal\n', '202501 Currenly: INR']

In [ ]:
# difference between readline vs readlines

readline >> reading line by line,,, at a time only one lines

readlines >> read all lines at a same time and return output in list of lines

In [ ]:
# with statement
no need to use close() functions
file will close automatically

In [29]:
file =  open("myfile.txt",'r')
text = file.read()
print(text)
file.close()

we are learning python and data science

In [31]:
with open('myfile.txt','r') as file:
  text = file.read()
  print(text)

we are learning python and data science

In [32]:
with open('xyz.txt','w') as f:
  f.write("file is written with statement")

In [33]:
with open('xyz.txt') as f:
  text = f.read()
  print(text)

file is written with statement

In [34]:
text = '''Mahesh Electricals
Joint Holder : -
  Shop No 01 BABA MARKET HAROLA
sector 05

  NOIDA Customer No:- 7451234567
  UTTAR PRADESH SCHEME: CURRENT ACCOUNT-NORMAL
201301 Currency: INR'''

In [35]:
text

'Mahesh Electricals\nJoint Holder : - \n  Shop No 01 BABA MARKET HAROLA\nsector 05\n\n  NOIDA Customer No:- 7451234567\n  UTTAR PRADESH SCHEME: CURRENT ACCOUNT-NORMAL\n201301 Currency: INR'

In [36]:
print(text)

Mahesh Electricals
Joint Holder : -
  Shop No 01 BABA MARKET HAROLA
sector 05

  NOIDA Customer No:- 7451234567
  UTTAR PRADESH SCHEME: CURRENT ACCOUNT-NORMAL
201301 Currency: INR

In [38]:
with open('customer_data.txt','w') as f:
  f.write(text)

In [39]:
with open ('customer_data.txt') as f:
  text_list = f.readlines()
  print(text_list)

['Mahesh Electricals\n', 'Joint Holder : - \n', '  Shop No 01 BABA MARKET HAROLA\n', 'sector 05\n', '\n', '  NOIDA Customer No:- 7451234567\n', '  UTTAR PRADESH SCHEME: CURRENT ACCOUNT-NORMAL\n', '201301 Currency: INR']

In [40]:
with open ('customer_data.txt') as f:
  text_list = f.readlines()
  for line in text_list:
    print(line)

Mahesh Electricals

Joint Holder : -

  Shop No 01 BABA MARKET HAROLA

sector 05



  NOIDA Customer No:- 7451234567

  UTTAR PRADESH SCHEME: CURRENT ACCOUNT-NORMAL

201301 Currency: INR

In [41]:
with open ('customer_data.txt') as f:
  text_list = f.readlines()
  for line in text_list:
    if line.isspace():
      continue
    line = line.strip()    # remove left and right space
    print(line)

Mahesh Electricals
Joint Holder : -
Shop No 01 BABA MARKET HAROLA
sector 05
NOIDA Customer No:- 7451234567
UTTAR PRADESH SCHEME: CURRENT ACCOUNT-NORMAL
201301 Currency: INR

In [42]:
new_text_list = []

with open ('customer_data.txt') as f:
  text_list = f.readlines()
  for line in text_list:
    if line.isspace():
      continue
    line = line.strip()    # remove left and right space
    new_text_list.append(line)


new_text_list

['Mahesh Electricals',
 'Joint Holder : -',
 'Shop No 01 BABA MARKET HAROLA',
 'sector 05',
 'NOIDA Customer No:- 7451234567',
 'UTTAR PRADESH SCHEME: CURRENT ACCOUNT-NORMAL',
 '201301 Currency: INR']

In [45]:
new_text_list = []

with open ('customer_data.txt') as f:
  text_list = f.readlines()
  for line in text_list:
    if line.isspace():
      continue
    line = line.strip()    # remove left and right space
    new_text_list.append(line)

# print(new_text_list)

text = "\n".join(new_text_list)
print(text)

Mahesh Electricals
Joint Holder : -
Shop No 01 BABA MARKET HAROLA
sector 05
NOIDA Customer No:- 7451234567
UTTAR PRADESH SCHEME: CURRENT ACCOUNT-NORMAL
201301 Currency: INR

In [46]:
with open('customer_data2.txt','w') as f:
  f.write(text)

In [47]:
with open('customer_data2.txt','r') as f:
  text = f.read()
  print(text)

Mahesh Electricals
Joint Holder : -
Shop No 01 BABA MARKET HAROLA
sector 05
NOIDA Customer No:- 7451234567
UTTAR PRADESH SCHEME: CURRENT ACCOUNT-NORMAL
201301 Currency: INR

In [ ]:
# JSON FILE

In [48]:
dict1 = {'Name':'Dhoni','Age':41}
dict1

{'Name': 'Dhoni', 'Age': 41}

In [49]:
import json

In [51]:
with open('player_details.json','w') as f:
  json.dump(dict1,f)

In [53]:
with open('player_details.json') as f:
  data = json.load(f)
  print(data)

{'Name': 'Dhoni', 'Age': 41}