In [4]:
# Tuple Basics
# A tuple is an immutable sequence in Python, meaning its elements cannot be changed after creation. It is similar to a list but uses parentheses () instead of square brackets [].
fruits = ("apple","banana","cherry")
print(fruits)
print(type(fruits))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [6]:
fruits = ("apple","banana","cherry")
print((fruits),"\n",type(fruits))

('apple', 'banana', 'cherry')
 <class 'tuple'>

In [7]:
fruits = ("apple","banana","cherry")
print((fruits),"\t",type(fruits))

('apple', 'banana', 'cherry') 	 <class 'tuple'>

In [8]:
len(fruits)

3

In [10]:
# access the tuple elements
# Accessing Tuple Elements
# Elements of a tuple can be accessed using indexing

print(fruits[0])
print(fruits[-3])

apple
apple

In [12]:
print(fruits[0])
print(fruits[-2])

apple
banana

In [13]:
print(fruits[0])
print(fruits[-1])

apple
cherry

In [14]:
# iterating over tuple ele
#  Iterating Over a Tuple
# Using a for loop:
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [15]:
for fruit in fruits[::-1]:
  print(fruit)

cherry
banana
apple

In [16]:
reverse_tuple = lambda x : x[::-1]
reverse_tuple(fruits)

('cherry', 'banana', 'apple')

In [19]:
t1 = (10,20,30,40)
square_tuple = lambda x : x**2
square_tuple(t1)

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [22]:
from functools import reduce

t1 = (10,20,30,40)
reduce(lambda x,y : x**2,t1)

100000000

In [23]:
t1 = (10,20,30,40)
reduce(lambda x,y : x*y,t1)

240000

In [24]:
t1 = (10,20,30,40)
reduce(lambda x,y : x+y,t1)

100

In [25]:
t1 = (10,20,30,40)
reduce(lambda x,y : y/x,t1)

2.6666666666666665

In [26]:
for i in t1:
  print(i**2)

100
400
900
1600

In [27]:
#  Tuple Operations with lambda
# Lambda functions are used to apply operations on tuples.
lambda x: tuple(i**2 for i in t1)

In [28]:
square_tuple = lambda x: tuple(i**2 for i in t1)
square_tuple(t1)

(100, 400, 900, 1600)

In [30]:
square_tuple = lambda x: tuple(i**2 for i in t1)
square_tuple(t1)

(100, 400, 900, 1600)

In [31]:
square_tuple = lambda x: list(i**2 for i in t1)
square_tuple(t1)

[100, 400, 900, 1600]

In [32]:
fruits

('apple', 'banana', 'cherry')

In [33]:
fruits['apple'] = "Mango"

TypeError: 'tuple' object does not support item assignment

In [34]:
fruits_list = list(fruits)
print(fruits_list)

['apple', 'banana', 'cherry']

In [38]:
fruits_list[0]

'apple'

In [39]:
fruits_list[0] = "Mango"

In [40]:
fruits_list

['Mango', 'banana', 'cherry']

In [41]:
fruits_tuple = tuple(fruits_list)

In [42]:
fruits_tuple

('Mango', 'banana', 'cherry')

In [43]:
t1 = (1,2,3,4,5)
t2 = (4,5,6)
combined = t1+t2

In [44]:
combined

(1, 2, 3, 4, 5, 4, 5, 6)

In [45]:
repeated_t1 = t1*2

In [46]:
repeated_t1

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [47]:
# index
# index() Method
# Returns the first occurrence of a specified element in a tuple.
# Raises an error if the element is not found.
fruits.index('banana')

1

In [50]:
fruits

('apple', 'banana', 'cherry')

In [51]:
fruits.index('apple')

0

In [52]:
# slicing
# Slicing in Tuples
# Syntax: tuple[start:stop:step]
numbers = (0,1,2,3,4,5)
numbers[::]

(0, 1, 2, 3, 4, 5)

In [54]:
numbers[::-1]

(5, 4, 3, 2, 1, 0)

In [55]:
numbers[:4:]

(0, 1, 2, 3)

In [56]:
numbers[:3:]

(0, 1, 2)

In [57]:
numbers[2::]

(2, 3, 4, 5)

In [58]:
numbers[3::-1]

(3, 2, 1, 0)

In [59]:
# min()
# min() Function
# min() returns the smallest element from an iterable or multiple arguments.
# Works on numbers, strings, and tuples.
# Can use a custom key function for comparison.
min(t1)

1

In [60]:
min(numbers)

0

In [61]:
max(t1)

5

In [62]:
sum(t1)

15

In [ ]:
square_tuple = lambda x: tuple(i**2 for i in t1)
square_tuple(t1)

In [65]:
#
numbers = (1,2,3,4,5,6)
even_tuple = lambda x: tuple(i for i in numbers if i%2 == 0)
even_tuple(numbers)

(2, 4, 6)

In [66]:
numbers = (1,2,3,4,5,6)
filter(lambda x: x%2 == 0,numbers)

In [67]:
numbers = (1,2,3,4,5,6)
tuple(filter(lambda x: x%2 == 0,numbers))

(2, 4, 6)

In [68]:
list(filter(lambda x: x%2 == 0,numbers))

[2, 4, 6]

In [70]:
t1 = (1,2,3,4,5,6,100,2,3,14,34,68)

lambda x : max(t1)

In [74]:
t1 = (1,2,3,4,5,6,100,2,3,14,34,68)

max_tuple = lambda x : max(t1)
max_tuple(t1)

100

In [75]:
max(t1)

100

In [76]:
max(t1, key = lambda x : x)

100

In [77]:
data = [(1,4),(3,1),(5,2)]
min_tuple = min(data)
min_tuple

(1, 4)

In [78]:
min_tuple = min(data, key = lambda x : x)
min_tuple

(1, 4)

In [79]:
min_tuple = min(data, key = lambda x : x[0])
min_tuple

(1, 4)

In [80]:
min_tuple = min(data, key = lambda x : x[1])
min_tuple

(3, 1)

In [81]:
t1 = (10,20,5,30,15)
max(t1)

30

In [82]:
t1 = (10,20,5,30,15)
max(t1, key = lambda x: x)

30

In [87]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [88]:
# help(t1)

In [84]:
# sum of element suing lambda and reduce
# Lambda Function (Anonymous Function)
# A lambda function is a small, one-line anonymous function that can have any number of arguments but only one expression.
sum(t1)

80

In [85]:
reduce(lambda x,y:x+y,t1)

80

In [95]:
word = ("Hello","world","python")  # convert tuple of string to upper case using lambda
map(lambda x : x.upper(),word)

In [96]:
word = ("Hello","world","python")  # convert tuple of string to upper case using lambda
tuple(map(lambda x : x.upper(),word))

('HELLO', 'WORLD', 'PYTHON')

In [98]:
# convert tuple of string to upper case using lambda
# Lambda is used to apply a function inline to each element.
# map() applies the lambda function to all elements in the tuple.
# tuple(map()) converts the result back into a tuple.

tuple(map(lambda x : x.upper(),word))

('HELLO', 'WORLD', 'PYTHON')

In [101]:
tuple(map(lambda x: x.lower(),word))

('hello', 'world', 'python')

In [102]:
list(map(lambda x: x.lower(),word))

['hello', 'world', 'python']

In [ ]:
# len
# square
# sum of elements is greater than given value

# multuply corresponding eleemt of tuple using lambda
# swap elements in tuple of pairs using lambda