In [1]:
# creation of decitionary
# Empty dictionary
d1 = {}
print(type(d1))
print(d1)

<class 'dict'>
{}

In [2]:
# Using dict() constructor
d2 = dict()
print(type(d2))
print(d2)

<class 'dict'>
{}

In [3]:
# Dictionary with one key-value pair
d3 = {'Name':'Virat'}
d3

{'Name': 'Virat'}

In [4]:
len(d3)

1

In [5]:
# Dictionary with multiple key-value pairs
d4 = {'Name':'Virat','Age':38}
d4

{'Name': 'Virat', 'Age': 38}

In [6]:
# Using curly brackets {}
d5 = {'Name':'Virat','Age':38,'score':183}
d5

{'Name': 'Virat', 'Age': 38, 'score': 183}

In [7]:
len(d5)

3

In [ ]:
# access the dictionary items

# dict[key]
# dict.get(Key)

In [8]:
d5 = {'Name':'Virat','Age':38,'score':183}
d5

{'Name': 'Virat', 'Age': 38, 'score': 183}

In [9]:
d5['Name']

'Virat'

In [10]:
d5['Age']

38

In [11]:
# get()
# Using get() method
d5.get('Name')

'Virat'

In [12]:
d5.get('Age')

38

In [ ]:
# dictionary functions
# 1.key()
# 2.values()
# 3.items()

In [13]:
d5

{'Name': 'Virat', 'Age': 38, 'score': 183}

In [14]:
# print(d5.keys())  # Output: dict_keys(['Name', 'Age', 'Score'])
print(d5.keys())

dict_keys(['Name', 'Age', 'score'])

In [135]:
# print(d5.values()) # Output: dict_values(['Virat', 38, 183])
print(d5.values())

dict_values(['Virat', 38, 183])

In [136]:
# print(d5.items())  # Output: dict_items([('Name', 'Virat'), ('Age', 38), ('Score', 183)])
print(d5.items())

dict_items([('Name', 'Virat'), ('Age', 38), ('score', 183)])

In [18]:
# access keys from dict
for key in d5:
  print('Key is:',key)

Key is: Name
Key is: Age
Key is: score

In [21]:
# access keys from dict
for key in d5.keys():
  print('Key are:',key)

Key are: Name
Key are: Age
Key are: score

In [20]:
for value in d5.values():
  print("Value are:",value)

Value are: Virat
Value are: 38
Value are: 183

In [23]:
for key,value in d5.items():
  print(f"{key}-{value}")

Name-Virat
Age-38
score-183

In [24]:
for key,value in d5.items():
  print(f"{key}:{value}")

Name:Virat
Age:38
score:183

In [ ]:
# check items in dictionary

In [27]:
if 'Name' in d5:
  print('Name key is present')
else:
  print('Name key is not present')

Name key is present

In [29]:
if 'name' in d5:  # false (case-sensitive)
  print('name key is present')
else:
  print("name key is not present")

name key is not present

In [ ]:
# change items of dictionary

In [56]:
employee_data = {'Employee_Name':'Sagar',"Salary":50000,'Age':30,'Company':'Capgemini'}
employee_data

{'Employee_Name': 'Sagar', 'Salary': 50000, 'Age': 30, 'Company': 'Capgemini'}

In [57]:
employee_data['Salary']

50000

In [58]:
employee_data['Salary'] = 60000

In [59]:
employee_data

{'Employee_Name': 'Sagar', 'Salary': 60000, 'Age': 30, 'Company': 'Capgemini'}

In [35]:
employee_data['Company']

'Capgemini'

In [60]:
employee_data['Company'] = 'Tiger Analytics'

In [61]:
employee_data

{'Employee_Name': 'Sagar',
 'Salary': 60000,
 'Age': 30,
 'Company': 'Tiger Analytics'}

In [ ]:
# update()

In [62]:
employee_data

{'Employee_Name': 'Sagar',
 'Salary': 60000,
 'Age': 30,
 'Company': 'Tiger Analytics'}

In [64]:
new_dict = {'Salary':70000,'Age':31,'Company':'TCS'}
new_dict

{'Salary': 70000, 'Age': 31, 'Company': 'TCS'}

In [65]:
employee_data.update(new_dict)

In [66]:
employee_data

{'Employee_Name': 'Sagar', 'Salary': 70000, 'Age': 31, 'Company': 'TCS'}

In [67]:
employee_data.update({"Company":"Accenture"})

In [68]:
employee_data

{'Employee_Name': 'Sagar', 'Salary': 70000, 'Age': 31, 'Company': 'Accenture'}

In [69]:
employee_data.update({"Emp_id":"1"})
employee_data

{'Employee_Name': 'Sagar',
 'Salary': 70000,
 'Age': 31,
 'Company': 'Accenture',
 'Emp_id': '1'}

In [ ]:
# remove the items from dict
# 1.pop()
# 2.popitem()
# 3.clear()
# 4 del

In [ ]:
# pop
# pop() - Removes specific key-value pair

In [70]:
employee_data

{'Employee_Name': 'Sagar',
 'Salary': 70000,
 'Age': 31,
 'Company': 'Accenture',
 'Emp_id': '1'}

In [71]:
employee_data.pop()

TypeError: pop expected at least 1 argument, got 0

In [72]:
employee_data.pop('Emp_id')

'1'

In [73]:
employee_data

{'Employee_Name': 'Sagar', 'Salary': 70000, 'Age': 31, 'Company': 'Accenture'}

In [74]:
employee_data.pop('Company')

'Accenture'

In [75]:
employee_data

{'Employee_Name': 'Sagar', 'Salary': 70000, 'Age': 31}

In [ ]:
# popitem()
# remove last / last inserted item  -default
# popitem() - Removes the last inserted key-value pair

In [76]:
employee_data

{'Employee_Name': 'Sagar', 'Salary': 70000, 'Age': 31}

In [77]:
employee_data.popitem()

('Age', 31)

In [78]:
employee_data

{'Employee_Name': 'Sagar', 'Salary': 70000}

In [79]:
employee_data.popitem()

('Salary', 70000)

In [80]:
employee_data

{'Employee_Name': 'Sagar'}

In [81]:
employee_data.popitem()

('Employee_Name', 'Sagar')

In [82]:
employee_data

{}

In [83]:
employee_data = {'Employee_Name': 'Sagar', 'Salary': 70000, 'Age': 31, 'Company': 'Accenture'}

In [84]:
employee_data.popitem('Salary')

TypeError: dict.popitem() takes no arguments (1 given)

In [ ]:
# clear()   return empyt dictionary
# clear() - Removes all elements

In [85]:
employee_data

{'Employee_Name': 'Sagar', 'Salary': 70000, 'Age': 31, 'Company': 'Accenture'}

In [86]:
employee_data.clear()

In [87]:
employee_data

{}

In [88]:
employee_data = {'Employee_Name': 'Sagar', 'Salary': 70000, 'Age': 31, 'Company': 'Accenture'}

In [89]:
employee_data

{'Employee_Name': 'Sagar', 'Salary': 70000, 'Age': 31, 'Company': 'Accenture'}

In [90]:
employee_data.clear('Salary')

TypeError: dict.clear() takes no arguments (1 given)

In [91]:
# del # delete the dictionary with key-value and its structure from memory
employee_data
# print(employee_data)  # This will throw an error

{'Employee_Name': 'Sagar', 'Salary': 70000, 'Age': 31, 'Company': 'Accenture'}

In [92]:
del employee_data

In [93]:
employee_data

NameError: name 'employee_data' is not defined

In [ ]:
# nested dictionary

In [94]:
class_1 = {'Virat':{'Eng':83,
                    'Math':73,
                    'Sci':82},
           'Rohit':{'Eng':81,
                    'Math':83,
                    'Sci':88},
           'Rahul':{'Eng':89,
                    'Math':81,
                    'Sci':80}}
class_1

{'Virat': {'Eng': 83, 'Math': 73, 'Sci': 82},
 'Rohit': {'Eng': 81, 'Math': 83, 'Sci': 88},
 'Rahul': {'Eng': 89, 'Math': 81, 'Sci': 80}}

In [95]:
class_1['Virat']

{'Eng': 83, 'Math': 73, 'Sci': 82}

In [96]:
class_1['Virat']['Eng']

83

In [97]:
class_1['Virat']['Math']

73

In [98]:
class_1['Virat']['Sci']

82

In [99]:
class_1['Rohit']

{'Eng': 81, 'Math': 83, 'Sci': 88}

In [100]:
class_1['Rohit']['Eng']

81

In [101]:
class_1['Rohit']['Math']

83

In [102]:
class_1

{'Virat': {'Eng': 83, 'Math': 73, 'Sci': 82},
 'Rohit': {'Eng': 81, 'Math': 83, 'Sci': 88},
 'Rahul': {'Eng': 89, 'Math': 81, 'Sci': 80}}

In [103]:
class_1['Rahul']['Sci']

80

In [104]:
class_1['Rahul']['Sci'] = 90

In [105]:
class_1

{'Virat': {'Eng': 83, 'Math': 73, 'Sci': 82},
 'Rohit': {'Eng': 81, 'Math': 83, 'Sci': 88},
 'Rahul': {'Eng': 89, 'Math': 81, 'Sci': 90}}

In [106]:
#
sub_name = ['Phy','Che','Math','Eng','Bio']
sub_marks =[94,93,91,95,90]

# dict{'Phy':93,'Che':94................}

In [107]:
dict1 = dict{sub_name,sub_marks}
dict1

SyntaxError: invalid syntax (<ipython-input-107-8c86515b67e9>, line 1)

In [108]:
dict1 = dict(zip(sub_name,sub_marks))
dict1

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}

In [110]:
d1 = {}
for i in sub_name:
  for j in sub_marks:
    d1[i] = j

d1

{'Phy': 90, 'Che': 90, 'Math': 90, 'Eng': 90, 'Bio': 90}

In [111]:
sub_name

['Phy', 'Che', 'Math', 'Eng', 'Bio']

In [112]:
sub_marks

[93, 94, 91, 95, 90]

In [114]:
d1 = {}
for i in range(len(sub_name)):
  d1[sub_name[i]] = sub_marks[i]

d1

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}

In [115]:
dict1 = {}
count = 0
for key in sub_name:
  dict1[key] = sub_marks[count]
  count +=1
dict1

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}

In [116]:
# fromkeys()
# Using fromkeys() method
dict.fromkeys(sub_name)

{'Phy': None, 'Che': None, 'Math': None, 'Eng': None, 'Bio': None}

In [117]:
value = 86
dict.fromkeys(sub_name,value)

{'Phy': 86, 'Che': 86, 'Math': 86, 'Eng': 86, 'Bio': 86}

In [118]:
dict.fromkeys(sub_name,sub_marks)

{'Phy': [93, 94, 91, 95, 90],
 'Che': [93, 94, 91, 95, 90],
 'Math': [93, 94, 91, 95, 90],
 'Eng': [93, 94, 91, 95, 90],
 'Bio': [93, 94, 91, 95, 90]}

In [119]:
dict(zip(sub_name,sub_marks))

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}

In [120]:
# {1:1,2:4}

# 1-10

dict1 = {}
for i in range(11):
  dict1[i] = i**2
dict1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [121]:
string = "Python class first Python class second Python"

for word in string.split():
  print(word)

Python
class
first
Python
class
second
Python

In [122]:
d1 = {}
for word in string.split():
  d1[word] = string.count(word)

In [123]:
d1

{'Python': 3, 'class': 2, 'first': 1, 'second': 1}

In [124]:
from re import sub
# sort dictionay using keys
sub_mark = {'Phy': 86, 'Che': 86, 'Math': 86, 'Eng': 86, 'Bio': 86}
sub_mark

{'Phy': 86, 'Che': 86, 'Math': 86, 'Eng': 86, 'Bio': 86}

In [126]:
sub_mark

{'Phy': 86, 'Che': 86, 'Math': 86, 'Eng': 86, 'Bio': 86}

In [127]:
sorted(sub_mark)

['Bio', 'Che', 'Eng', 'Math', 'Phy']

In [129]:
sorted(sub_mark.keys())

['Bio', 'Che', 'Eng', 'Math', 'Phy']

In [130]:
sorted(sub_mark.values())

[86, 86, 86, 86, 86]

In [131]:
sorted(sub_mark.items())

[('Bio', 86), ('Che', 86), ('Eng', 86), ('Math', 86), ('Phy', 86)]

In [132]:
new_dict = {}
sorted_key  = sorted(sub_mark.keys())
for key in sorted_key:
  new_dict[key] = sub_mark[key]

In [133]:
new_dict

{'Bio': 86, 'Che': 86, 'Eng': 86, 'Math': 86, 'Phy': 86}